<h1>home ${logininfo.username}</h1>

<form method ="post" action="creaRichiesta">
    <div class="container">
        <label for="categoria">categoria: </label>
        <select id="categoria" name="categoria">
            <option value="5">pc fisso</option>
            <option value="6">pc portatile</option>
            <option value="7">monitor</option>
        </select>
    </div>
    <div class="one column"><input value="creaRichiesta" name="creaRichiesta" type="submit" class="one column">
    
    </div>

</form>
<#include "listaRichieste.ftl.html">
<#include "listaProposte.ftl.html">
