<h1>home ${logininfo.username}</h1>
<form method ="post" action="creaRichiesta">
    <div class="container">
        <select id="categoria" class="two columns" name="categoria">
            <option value="5">pc fisso</option>
            <option value="6">pc portatile</option>
            <option value="7">monitor</option>
        </select>
    
    <div class="two columns"><input value="creaRichiesta" name="creaRichiesta" type="submit"></div>
</div>
</form>
<#include "listaRichieste.ftl.html">
<#include "listaProposte.ftl.html">
