<h1>Site Access</h1>
<form method="post" action="login">
<div class="container">
    <div class="row">
        <div class="two columns clabel">Username:</div>
        <div class="four columns"> <input name="u" type="text"/>
            <small>(try "a" , "u" , "t")</small>
        </div>
        
    </div>
    <div class="row">
        <div class="two columns clabel">Password:</div>
        <div class="four columns"> <input name="p" type="password"/>
        <small>(try "p")</small>
        </div>
    </div>
    <div class="two columns"><input value="login" name="login" type="submit"/></div>
</div>
</form>






