${richiesta.note}
${richiesta.statoRichiesta}
note: ${richiesta.note} stato: ${richiesta.statoRichiesta} data: ${richiesta.dataRichiesta}

<#if !richiesta.tecnico?? && logininfo.ruolo=="tecnico">
    <form method="post" action="richiesta"> <input class="two columns" type="submit" value="assegna richiesta" name="assegna"/>
        <#-- passo solo la key dell'oggetto perchè non posso passarlo intero -->
        <input type="hidden" name="richiesta" value="${richiesta.key}"/>
    </form>
</#if>

<#if richiesta.tecnico?? && logininfo.ruolo=="tecnico">
    <form method="post" action="creaProposta"><div class="two columns"><input type="submit" value="crea proposta" name="crea proposta"/></div>
        <input type="hidden" name="richiesta" value="${richiesta.key}"/>
    </form>

</#if>

<#include "listaCaratteristiche.ftl.html">